@import './variables';

#drum-machine {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 80vmin;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  #display {
    display: none;
  }

  .drum-pad {
    flex: 1 0 30%;
    height: 30%;
    background-color: $pad-background-color;
    color: $pad-foreground-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vmin;
    font-size: 10vmin;
  }
}